In [1]:
import os
from datetime import datetime
import data_preparation as sf
import rnn_enc_dec as red


#PROJECT_ROOT_DIR = "/home/ubuntu/TroubledLife"
PROJECT_ROOT_DIR = "/Users/gopora/MyStuff/Dev/Workspaces/TroubledLife"
DATASETS_DIR = os.path.join(PROJECT_ROOT_DIR, "data")
TF_LOG_DIR = os.path.join(PROJECT_ROOT_DIR, "tf_logs")
MODEL_CHECKPOINTS_DIR = os.path.join(PROJECT_ROOT_DIR, "model_checkpoints")
TRAINING_SET_DATA_FILE = "pure_life_policy_train_data.csv"
TEST_SET_DATA_FILE = "pure_life_policy_test_data.csv"

now = datetime.utcnow().strftime("%Y%m%d-%H%M%S")
log_dir = "{}/run-{}/".format(TF_LOG_DIR, now)

In [2]:
policy_histories_train = \
    sf.load_life_policy_data(file_path=os.path.join(DATASETS_DIR, TRAINING_SET_DATA_FILE))

policy_histories_test = \
    sf.load_life_policy_data(file_path=os.path.join(DATASETS_DIR, TEST_SET_DATA_FILE))

policy_histories_length_train, max_policy_history_length_train = \
    sf.get_policy_history_lengths(policy_histories=policy_histories_train)

policy_histories_length_test, max_policy_history_length_test = \
    sf.get_policy_history_lengths(policy_histories=policy_histories_test)

max_policy_history_length = max(max_policy_history_length_train, max_policy_history_length_test)

In [13]:
policy_histories_train

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>biz_proc</th>
      <th>tariff</th>
      <th>interest</th>
      <th>sum_insured</th>
      <th>premium</th>
      <th>current_capital</th>
      <th>troubled</th>
    </tr>
    <tr>
      <th>id</th>
      <th>current_year</th>
      <th>version</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="15" valign="top">1001</th>
      <th rowspan="4" valign="top">0</th>
      <th>0</th>
      <td>initial</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1134.238970</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>collect_premium</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1134.238970</td>
      <td>1134.238970</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>adapt_premium</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1426.016287</td>
      <td>1134.238970</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>add_yearly_interest</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1426.016287</td>
      <td>1179.608529</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1426.016287</td>
      <td>2605.624816</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1426.016287</td>
      <td>2709.849808</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1426.016287</td>
      <td>4135.866095</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>adapt_premium</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1851.815773</td>
      <td>4135.866095</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>add_yearly_interest</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1851.815773</td>
      <td>4301.300739</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1851.815773</td>
      <td>6153.116512</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1851.815773</td>
      <td>6399.241173</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1851.815773</td>
      <td>8251.056946</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>2</td>
      <td>0.04</td>
      <td>113423.897005</td>
      <td>1851.815773</td>
      <td>8581.099224</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10000</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10001</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="15" valign="top">1002</th>
      <th rowspan="3" valign="top">0</th>
      <th>0</th>
      <td>initial</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>1327.024967</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>1366.835716</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>2693.860683</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>2774.676503</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>4101.701470</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>4224.752514</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>5551.777481</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>5718.330805</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">4</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1327.024967</td>
      <td>7045.355772</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>adapt_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1622.524973</td>
      <td>7045.355772</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>132702.496682</td>
      <td>1622.524973</td>
      <td>7256.716445</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10000</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10001</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10002</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="15" valign="top">10999</th>
      <th rowspan="3" valign="top">0</th>
      <th>0</th>
      <td>initial</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1164.271521</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1164.271521</td>
      <td>1164.271521</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1164.271521</td>
      <td>1199.199667</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1164.271521</td>
      <td>2363.471188</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1164.271521</td>
      <td>2434.375323</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1164.271521</td>
      <td>3598.646844</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>adapt_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1501.508929</td>
      <td>3598.646844</td>
      <td>False</td>
    </tr>
    <tr>
      <th>3</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1501.508929</td>
      <td>3706.606249</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1501.508929</td>
      <td>5208.115179</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1501.508929</td>
      <td>5364.358634</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1501.508929</td>
      <td>6865.867564</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>116427.152095</td>
      <td>1501.508929</td>
      <td>7071.843590</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10000</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10001</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10002</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="15" valign="top">11000</th>
      <th rowspan="3" valign="top">0</th>
      <th>0</th>
      <td>initial</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>1427.995750</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>1470.835623</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">1</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>2898.831373</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>2985.796314</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>4413.792065</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>4546.205827</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">3</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>5974.201577</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>6153.427624</td>
      <td>False</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">4</th>
      <th>1</th>
      <td>collect_premium</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>7581.423375</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>add_yearly_interest</td>
      <td>1</td>
      <td>0.03</td>
      <td>142799.575036</td>
      <td>1427.995750</td>
      <td>7808.866076</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10000</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10001</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10002</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
    <tr>
      <th>10003</th>
      <th>0</th>
      <td>pad</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
<p>150000 rows × 7 columns</p>
</div>

In [7]:
# Extract features and labels from dataset as numpy.ndarray(s)
train_labels, train_features, train_seq_lengths =\
    sf.prepare_labels_features_lengths(policy_histories=policy_histories_train,
                                       policy_histories_lengths=policy_histories_length_train, 
                                       max_policy_history_length=max_policy_history_length, binary_classification=True)
test_labels, test_features, test_seq_lengths =\
    sf.prepare_labels_features_lengths(policy_histories=policy_histories_test,
                                       policy_histories_lengths=policy_histories_length_test, 
                                       max_policy_history_length=max_policy_history_length, binary_classification=True)

train_data = sf.TrainDataSet(train_labels=train_labels, train_features=train_features, train_seq_lengths=train_seq_lengths)

In [12]:
train_features.shape

(10000, 15, 2)

In [4]:
import tensorflow as tf


tf.reset_default_graph()
tf.set_random_seed(42)

# Our hyperparameters
n_steps = max_policy_history_length
n_inputs = 2
n_layers = 3
n_neurons = 200
n_latent = 20
learning_rate = 0.0001

# Placeholders for our input sequences
seq_length = tf.placeholder(tf.int32, [None], name="seq_length")
X = tf.placeholder(tf.float32, [None, n_steps, n_inputs], name="X")

latent_vector = red.encoder(X=X, seq_length=seq_length, n_layers=n_layers, n_neurons=n_neurons, n_latent=n_latent)

decoder_sequence_train = red.decoder(n_latent=n_latent, n_layers=n_layers, n_neurons=n_neurons, n_outputs=n_inputs, 
                               latent_vector=latent_vector, X=X, seq_length=seq_length, training=True, reuse=False)

decoder_sequence_test = red.decoder(n_latent=n_latent, n_layers=n_layers, n_neurons=n_neurons, n_outputs=n_inputs, 
                               latent_vector=latent_vector, X=X, seq_length=seq_length, training=True, reuse=True)

tvars = tf.trainable_variables()

for var in tvars:
    print(var) 
    
loss_train = tf.reduce_mean(tf.square(decoder_sequence_train - X)) # MSE
loss_test = tf.reduce_mean(tf.square(decoder_sequence_test - X)) # MSE
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate)
training_op = optimizer.minimize(loss_train)

train_loss_summary = tf.summary.scalar('Train_loss', loss_train)
test_loss_summary = tf.summary.scalar('Test_loss', loss_test)

writer = tf.summary.FileWriter(log_dir, tf.get_default_graph())

saver = tf.train.Saver(var_list=tvars)

encoder states shape: (?, 600)
latent_vector shape: (?, 20)
state_input shape: (?, 200)
decoder initial state shape:  (?, 600)
decoder outputs rnn_output shape: (?, ?, 2)
state_input shape: (?, 200)
decoder initial state shape:  (?, 600)
decoder outputs rnn_output shape: (?, ?, 2)
<tf.Variable 'P_Encoder/rnn/multi_rnn_cell/cell_0/basic_rnn_cell/kernel:0' shape=(202, 200) dtype=float32_ref>
<tf.Variable 'P_Encoder/rnn/multi_rnn_cell/cell_0/basic_rnn_cell/bias:0' shape=(200,) dtype=float32_ref>
<tf.Variable 'P_Encoder/rnn/multi_rnn_cell/cell_1/basic_rnn_cell/kernel:0' shape=(400, 200) dtype=float32_ref>
<tf.Variable 'P_Encoder/rnn/multi_rnn_cell/cell_1/basic_rnn_cell/bias:0' shape=(200,) dtype=float32_ref>
<tf.Variable 'P_Encoder/rnn/multi_rnn_cell/cell_2/basic_rnn_cell/kernel:0' shape=(400, 200) dtype=float32_ref>
<tf.Variable 'P_Encoder/rnn/multi_rnn_cell/cell_2/basic_rnn_cell/bias:0' shape=(200,) dtype=float32_ref>
<tf.Variable 'P_Encoder_2_Latent/W:0' shape=(600, 20) dtype=float32_ref>
<tf.Variable 'P_Encoder_2_Latent/b:0' shape=(20,) dtype=float32_ref>
<tf.Variable 'Latent_2_P_Decoder/W:0' shape=(20, 200) dtype=float32_ref>
<tf.Variable 'Latent_2_P_Decoder/b:0' shape=(200,) dtype=float32_ref>
<tf.Variable 'P_Decoder/decoder/multi_rnn_cell/cell_0/basic_rnn_cell/kernel:0' shape=(202, 200) dtype=float32_ref>
<tf.Variable 'P_Decoder/decoder/multi_rnn_cell/cell_0/basic_rnn_cell/bias:0' shape=(200,) dtype=float32_ref>
<tf.Variable 'P_Decoder/decoder/multi_rnn_cell/cell_1/basic_rnn_cell/kernel:0' shape=(400, 200) dtype=float32_ref>
<tf.Variable 'P_Decoder/decoder/multi_rnn_cell/cell_1/basic_rnn_cell/bias:0' shape=(200,) dtype=float32_ref>
<tf.Variable 'P_Decoder/decoder/multi_rnn_cell/cell_2/basic_rnn_cell/kernel:0' shape=(400, 200) dtype=float32_ref>
<tf.Variable 'P_Decoder/decoder/multi_rnn_cell/cell_2/basic_rnn_cell/bias:0' shape=(200,) dtype=float32_ref>
<tf.Variable 'P_Decoder/decoder/dense/kernel:0' shape=(200, 2) dtype=float32_ref>

In [5]:
sess = tf.Session()

sess.run(tf.global_variables_initializer())
sess.run(tf.local_variables_initializer())

In [6]:
from time import time

start = time()

n_epochs = 200
batch_size = 200

for epoch in range(n_epochs):
    for i in range(train_data.num_examples // batch_size):
        _, X_batch, seq_length_batch = train_data.next_batch(batch_size)

        sess.run(training_op, feed_dict={X: X_batch, seq_length: seq_length_batch})

    lTrain, train_loss_summary_str = sess.run([loss_train, train_loss_summary], 
                                              feed_dict={X: X_batch, seq_length: seq_length_batch})

    lTest, test_loss_summary_str = sess.run([loss_test, test_loss_summary], 
                                            feed_dict={X: test_features, seq_length: test_seq_lengths})

    print("Epoch:", epoch, "Train loss:", lTrain, "Test loss:", lTest)

    writer.add_summary(train_loss_summary_str, epoch)
    writer.add_summary(test_loss_summary_str, epoch)

saver.save(sess, os.path.join(MODEL_CHECKPOINTS_DIR, "rnn_enc_dec.ckpt"))    

writer.close()

elapsed = time() - start
print("Time to finish %d", elapsed)

Epoch: 0 Train loss: 2.43792e+06 Test loss: 2.41186e+06
Epoch: 1 Train loss: 455460.0 Test loss: 470912.0
Epoch: 2 Train loss: 92158.7 Test loss: 107060.0
Epoch: 3 Train loss: 29358.2 Test loss: 40521.5
Epoch: 4 Train loss: 26659.7 Test loss: 33907.1
Epoch: 5 Train loss: 24265.7 Test loss: 31198.4
Epoch: 6 Train loss: 21804.3 Test loss: 29529.3
Epoch: 7 Train loss: 22484.0 Test loss: 29177.9
Epoch: 8 Train loss: 21069.6 Test loss: 25346.7
Epoch: 9 Train loss: 21098.5 Test loss: 24914.1
Epoch: 10 Train loss: 21563.6 Test loss: 22764.1
Epoch: 11 Train loss: 19711.2 Test loss: 22037.6
Epoch: 12 Train loss: 22021.9 Test loss: 21416.9
Epoch: 13 Train loss: 22011.0 Test loss: 21034.5
Epoch: 14 Train loss: 20487.6 Test loss: 20702.9
Epoch: 15 Train loss: 16631.9 Test loss: 20481.9
Epoch: 16 Train loss: 18020.6 Test loss: 20844.7
Epoch: 17 Train loss: 20860.2 Test loss: 19634.4
Epoch: 18 Train loss: 18434.0 Test loss: 18828.6
Epoch: 19 Train loss: 17970.5 Test loss: 17918.5
Epoch: 20 Train loss: 15172.7 Test loss: 17254.3
Epoch: 21 Train loss: 15286.9 Test loss: 16528.6
Epoch: 22 Train loss: 15085.6 Test loss: 15280.1
Epoch: 23 Train loss: 16284.8 Test loss: 13991.9
Epoch: 24 Train loss: 13465.8 Test loss: 12957.6
Epoch: 25 Train loss: 550717.0 Test loss: 549822.0
Epoch: 26 Train loss: 28007.9 Test loss: 32576.8
Epoch: 27 Train loss: 19351.1 Test loss: 25613.0
Epoch: 28 Train loss: 18854.8 Test loss: 22796.3
Epoch: 29 Train loss: 17121.4 Test loss: 20443.5
Epoch: 30 Train loss: 12647.5 Test loss: 18062.1
Epoch: 31 Train loss: 14503.2 Test loss: 15461.5
Epoch: 32 Train loss: 11954.9 Test loss: 13018.2
Epoch: 33 Train loss: 11512.9 Test loss: 11734.8
Epoch: 34 Train loss: 10509.3 Test loss: 10941.5
Epoch: 35 Train loss: 10932.9 Test loss: 10202.2
Epoch: 36 Train loss: 10067.1 Test loss: 9605.78
Epoch: 37 Train loss: 9614.58 Test loss: 9064.52
Epoch: 38 Train loss: 7673.38 Test loss: 8572.95
Epoch: 39 Train loss: 6975.03 Test loss: 8080.34
Epoch: 40 Train loss: 7360.22 Test loss: 7655.21
Epoch: 41 Train loss: 6206.59 Test loss: 7183.03
Epoch: 42 Train loss: 5308.15 Test loss: 6804.04
Epoch: 43 Train loss: 7755.1 Test loss: 6425.28
Epoch: 44 Train loss: 6094.24 Test loss: 6074.73
Epoch: 45 Train loss: 5672.91 Test loss: 5754.21
Epoch: 46 Train loss: 4748.77 Test loss: 5431.53
Epoch: 47 Train loss: 4616.73 Test loss: 5164.4
Epoch: 48 Train loss: 4786.38 Test loss: 4868.36
Epoch: 49 Train loss: 4971.59 Test loss: 4609.2
Epoch: 50 Train loss: 3726.91 Test loss: 4399.81
Epoch: 51 Train loss: 4206.21 Test loss: 4123.06
Epoch: 52 Train loss: 3497.64 Test loss: 3899.31
Epoch: 53 Train loss: 2457.64 Test loss: 3704.76
Epoch: 54 Train loss: 3063.94 Test loss: 3500.09
Epoch: 55 Train loss: 2989.22 Test loss: 3373.26
Epoch: 56 Train loss: 3774.85 Test loss: 3117.66
Epoch: 57 Train loss: 3583.29 Test loss: 2999.65
Epoch: 58 Train loss: 2058.1 Test loss: 2816.77
Epoch: 59 Train loss: 2587.38 Test loss: 2714.89
Epoch: 60 Train loss: 2556.78 Test loss: 2625.52
Epoch: 61 Train loss: 2198.68 Test loss: 2456.23
Epoch: 62 Train loss: 2490.93 Test loss: 2599.68
Epoch: 63 Train loss: 1678.22 Test loss: 2265.02
Epoch: 64 Train loss: 1372.03 Test loss: 2057.42
Epoch: 65 Train loss: 2301.3 Test loss: 1922.9
Epoch: 66 Train loss: 2057.33 Test loss: 1854.49
Epoch: 67 Train loss: 1228.73 Test loss: 1840.24
Epoch: 68 Train loss: 1637.62 Test loss: 1646.75
Epoch: 69 Train loss: 1621.39 Test loss: 1901.98
Epoch: 70 Train loss: 1465.04 Test loss: 1556.99
Epoch: 71 Train loss: 1427.95 Test loss: 1596.26
Epoch: 72 Train loss: 1002.96 Test loss: 1314.56
Epoch: 73 Train loss: 1231.16 Test loss: 1340.67
Epoch: 74 Train loss: 1093.88 Test loss: 1289.16
Epoch: 75 Train loss: 1080.82 Test loss: 1233.62
Epoch: 76 Train loss: 1785.68 Test loss: 1726.66
Epoch: 77 Train loss: 1339.7 Test loss: 1103.35
Epoch: 78 Train loss: 1104.41 Test loss: 1058.68
Epoch: 79 Train loss: 1003.11 Test loss: 956.384
Epoch: 80 Train loss: 1372.39 Test loss: 1363.47
Epoch: 81 Train loss: 751.571 Test loss: 919.561
Epoch: 82 Train loss: 995.345 Test loss: 989.175
Epoch: 83 Train loss: 6403.51 Test loss: 5921.95
Epoch: 84 Train loss: 932.522 Test loss: 855.197
Epoch: 85 Train loss: 1163.36 Test loss: 1195.7
Epoch: 86 Train loss: 11812.3 Test loss: 11761.4
Epoch: 87 Train loss: 452.069 Test loss: 765.885
Epoch: 88 Train loss: 524.055 Test loss: 722.915
Epoch: 89 Train loss: 769.084 Test loss: 725.29
Epoch: 90 Train loss: 742.226 Test loss: 691.771
Epoch: 91 Train loss: 932.693 Test loss: 977.019
Epoch: 92 Train loss: 475.446 Test loss: 634.279
Epoch: 93 Train loss: 853.897 Test loss: 998.123
Epoch: 94 Train loss: 1090.29 Test loss: 754.398
Epoch: 95 Train loss: 390.388 Test loss: 636.765
Epoch: 96 Train loss: 402.726 Test loss: 548.713
Epoch: 97 Train loss: 558.392 Test loss: 557.654
Epoch: 98 Train loss: 714.582 Test loss: 642.541
Epoch: 99 Train loss: 367.744 Test loss: 582.684
Epoch: 100 Train loss: 737.495 Test loss: 712.053
Epoch: 101 Train loss: 424.077 Test loss: 484.95
Epoch: 102 Train loss: 907.675 Test loss: 608.183
Epoch: 103 Train loss: 1691.86 Test loss: 1857.47
Epoch: 104 Train loss: 543.721 Test loss: 498.144
Epoch: 105 Train loss: 931.8 Test loss: 726.736
Epoch: 106 Train loss: 695.336 Test loss: 713.833
Epoch: 107 Train loss: 1455.46 Test loss: 1568.58
Epoch: 108 Train loss: 284.38 Test loss: 415.634
Epoch: 109 Train loss: 481.993 Test loss: 517.771
Epoch: 110 Train loss: 2519.6 Test loss: 2421.37
Epoch: 111 Train loss: 357.768 Test loss: 420.018
Epoch: 112 Train loss: 5864.09 Test loss: 6162.81
Epoch: 113 Train loss: 255.085 Test loss: 401.27
Epoch: 114 Train loss: 985.787 Test loss: 1025.73
Epoch: 115 Train loss: 414.618 Test loss: 380.978
Epoch: 116 Train loss: 813.218 Test loss: 829.761
Epoch: 117 Train loss: 285.016 Test loss: 394.997
Epoch: 118 Train loss: 214.533 Test loss: 341.463
Epoch: 119 Train loss: 2449.9 Test loss: 2522.66
Epoch: 120 Train loss: 460.407 Test loss: 506.384
Epoch: 121 Train loss: 308.922 Test loss: 376.514
Epoch: 122 Train loss: 873.176 Test loss: 894.018
Epoch: 123 Train loss: 469.391 Test loss: 534.04
Epoch: 124 Train loss: 756.987 Test loss: 906.26
Epoch: 125 Train loss: 446.095 Test loss: 494.408
Epoch: 126 Train loss: 530.035 Test loss: 525.01
Epoch: 127 Train loss: 312.501 Test loss: 377.608
Epoch: 128 Train loss: 264.276 Test loss: 362.367
Epoch: 129 Train loss: 315.874 Test loss: 442.09
Epoch: 130 Train loss: 410.125 Test loss: 490.981
Epoch: 131 Train loss: 505.437 Test loss: 492.623
Epoch: 132 Train loss: 8664.09 Test loss: 8559.84
Epoch: 133 Train loss: 449.092 Test loss: 329.968
Epoch: 134 Train loss: 269.321 Test loss: 299.251
Epoch: 135 Train loss: 222.682 Test loss: 292.65
Epoch: 136 Train loss: 1460.86 Test loss: 1510.4
Epoch: 137 Train loss: 291.025 Test loss: 342.027
Epoch: 138 Train loss: 308.731 Test loss: 296.551
Epoch: 139 Train loss: 320.514 Test loss: 356.7
Epoch: 140 Train loss: 560.983 Test loss: 581.919
Epoch: 141 Train loss: 232.848 Test loss: 253.12
Epoch: 142 Train loss: 318.746 Test loss: 237.435
Epoch: 143 Train loss: 396.478 Test loss: 326.166
Epoch: 144 Train loss: 545.013 Test loss: 624.08
Epoch: 145 Train loss: 153.153 Test loss: 235.979
Epoch: 146 Train loss: 419.818 Test loss: 466.195
Epoch: 147 Train loss: 795.949 Test loss: 687.005
Epoch: 148 Train loss: 199.996 Test loss: 287.185
Epoch: 149 Train loss: 127.595 Test loss: 261.185
Epoch: 150 Train loss: 429.245 Test loss: 236.429
Epoch: 151 Train loss: 151.007 Test loss: 233.045
Epoch: 152 Train loss: 1732.62 Test loss: 1805.32
Epoch: 153 Train loss: 193.293 Test loss: 272.337
Epoch: 154 Train loss: 160.613 Test loss: 228.81
Epoch: 155 Train loss: 458.599 Test loss: 530.514
Epoch: 156 Train loss: 138.97 Test loss: 215.673
Epoch: 157 Train loss: 13064.1 Test loss: 12989.8
Epoch: 158 Train loss: 279.692 Test loss: 376.736
Epoch: 159 Train loss: 171.541 Test loss: 230.457
Epoch: 160 Train loss: 163.005 Test loss: 210.441
Epoch: 161 Train loss: 240.071 Test loss: 281.677
Epoch: 162 Train loss: 189.769 Test loss: 228.88
Epoch: 163 Train loss: 11429.9 Test loss: 11164.6
Epoch: 164 Train loss: 180.65 Test loss: 224.872
Epoch: 165 Train loss: 131.514 Test loss: 183.929
Epoch: 166 Train loss: 294.899 Test loss: 185.079

Epoch: 167 Train loss: 157.268 Test loss: 209.043
Epoch: 168 Train loss: 2624.43 Test loss: 2472.17
Epoch: 169 Train loss: 439.505 Test loss: 417.583
Epoch: 170 Train loss: 166.456 Test loss: 225.413
Epoch: 171 Train loss: 236.714 Test loss: 282.573
Epoch: 172 Train loss: 3987.89 Test loss: 3893.28
Epoch: 173 Train loss: 142.642 Test loss: 214.017
Epoch: 174 Train loss: 189.567 Test loss: 257.802
Epoch: 175 Train loss: 237.8 Test loss: 271.003
Epoch: 176 Train loss: 252.482 Test loss: 204.937
Epoch: 177 Train loss: 209.376 Test loss: 269.715
Epoch: 178 Train loss: 274.737 Test loss: 317.868
Epoch: 179 Train loss: 255.571 Test loss: 309.868
Epoch: 180 Train loss: 191.698 Test loss: 241.909
Epoch: 181 Train loss: 182.056 Test loss: 201.89
Epoch: 182 Train loss: 210.846 Test loss: 197.55
Epoch: 183 Train loss: 751.567 Test loss: 807.013
Epoch: 184 Train loss: 200.593 Test loss: 239.308
Epoch: 185 Train loss: 889.822 Test loss: 907.845
Epoch: 186 Train loss: 220.523 Test loss: 208.879
Epoch: 187 Train loss: 362.067 Test loss: 423.671
Epoch: 188 Train loss: 307.176 Test loss: 358.259
Epoch: 189 Train loss: 1623.41 Test loss: 1619.17
Epoch: 190 Train loss: 435.775 Test loss: 501.016
Epoch: 191 Train loss: 139.354 Test loss: 159.198
Epoch: 192 Train loss: 116.169 Test loss: 176.993
Epoch: 193 Train loss: 1277.26 Test loss: 1352.16
Epoch: 194 Train loss: 195.832 Test loss: 177.221
Epoch: 195 Train loss: 146.821 Test loss: 185.072
Epoch: 196 Train loss: 161.554 Test loss: 209.071
Epoch: 197 Train loss: 182.843 Test loss: 212.703
Epoch: 198 Train loss: 1689.06 Test loss: 1878.92
Epoch: 199 Train loss: 123.707 Test loss: 157.958
Time to finish %d 448.81597781181335